body{
    background-color: aqua;
}
h1{
    color: blueviolet;
}
#LMAO {
    font-size: 50px;

}
.noticias{
    font-family: cursive;
}
 li{
    background-color: red;  font-size: 30px;
}

#sex{
    background-color: coral;
}